* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  background-color: #000000;
}

.time {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 150px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #fff;
}

.border {
  border: 10px solid #fff;
  border-radius: 20px;
  padding: 20px 60px;
}
/* #test {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 20px auto;
} */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  font-family: sans-serif;
}
#btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  border: 0;
  cursor: pointer;
} */
/* 
.box-section {
  gap: 20px;
  row-gap: 20px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

/* .box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
}

#no-boxes {
  color: #2d2d2d;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 300;
}

.btn-box {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 5px;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
  width: 40px;
  height: 40px;
  background: none;
  font-size: 20px;
  display: flex;
  float: right;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: none;
  transition: 0.3s all ease-in-out;
}

.btn-box:hover {
  background-color: red;
  transition: 0.3s all ease-in-out;
}

.generate-section {
  margin-bottom: 50px;
}

#generate-btn {
  padding: 10px 30px;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  background-color: blue;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#deleteAllBtn {
  padding: 10px 30px;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  background-color: blue;
  border-radius: 10px;
  border: none;
  cursor: pointer;
} */

/* section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#333, #000);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2{
    color: #fff;
    font-size: 8em;
    text-transform: uppercase;
}

section .set{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

}

section .set div{
    position: absolute;
    display: block;
}

section .set div:nth-child(1){
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}

section .set div:nth-child(2){
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}

section .set div:nth-child(3){
    left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}

section .set div:nth-child(4){
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}

section .set div:nth-child(5){
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}

section .set div:nth-child(6){
    left: 0%;
    animation: animate 12s linear infinite;
}

section .set div:nth-child(7){
    left: 15%;
    animation: animate 14s linear infinite;
}

section .set div:nth-child(8){
    left: 60%;
    animation: animate 16s linear infinite;
}

@keyframes animate{
    0%{
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }

    10%{
        opacity: 1;
    }

    
    20%{
        transform: translateX(-20px) rotate(45deg);
    }

    40%{
        transform: translateX(-20px) rotate(90deg);
    }

    60%{
        transform: translateX(20px) rotate(180deg);
    }

    80%{
        transform: translateX(-20px) rotate(180deg);
    }

    100%{
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
} */

/* header{
    background-color: #000;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2{
    color: #fff;
    font-family: sans-serif;
}

.list{
    display: flex;
    gap: 20px;
    list-style: none;
}

.list-item a{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
}

.wrapper{
    margin-top: 500px;
    display: grid;
    place-items: center;
}

#btn{
    border: 1px solid #fff;
    background-color: transparent;
    padding: 15px 25px;
    color: #fff;
    font-size: 20px;
    border-radius: 25px;
    font-family: sans-serif;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

#btn:hover{
    transform: scale(1.1);
    background-color: blue;
    transition: 0.3s all ease-in-out;
} */

/* html, body {
    font-size: 18px;
    font-family: sans-serif;
} */

/* .container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
} */

/* button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
} */

/* .slider {
    border: 2px solid black;
    width: 256px;
    height: 256px;
    margin: 20px auto;
    overflow: hidden;
}

.slider-line {
    width: 1024px;
    height: 256px;
    display: flex;
    background: orange;
    position: relative;
    left: 0;
    transition: all ease 1s;
} */
